<!DOCTYPE html>
<html lang="sr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transakcija uspešno obrađena</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="bg-white shadow-lg rounded-lg p-8 max-w-md text-center">
            <div class="flex items-center justify-center w-20 h-20 mx-auto bg-green-100 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-green-600" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
            </div>
            <h1 class="mt-4 text-2xl font-bold text-gray-800">Transakcija uspešno obrađena</h1>
            <p class="mt-2 text-gray-600">Vaša transakcija je uspešno završena. Hvala što ste koristili naše usluge.</p>

            <div class="mt-6">
                <a href="https://nutritrans.rs/dash"
                    class="px-6 py-2 text-white bg-green-600 rounded-md hover:bg-green-500">
                    Povratak na početnu stranicu
                </a>
            </div>
        </div>
    </div>

</body>

</html>