<!DOCTYPE html>
<html lang="sr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifikacija Profil</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: #ffffff;
            border-radius: 12px;
            padding: 40px;
            max-width: 500px;
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
            text-align: center;
            transform: scale(0.95);
            animation: fadeIn 0.6s ease-in-out forwards;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: scale(0.95);
            }

            100% {
                opacity: 1;
                transform: scale(1);
            }
        }

        h1 {
            color: #FF6347;
            font-size: 2.5em;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .message {
            font-size: 1.1em;
            color: #555;
            margin-bottom: 20px;
        }

        .icon {
            font-size: 4em;
            color: #FF6347;
            margin-bottom: 30px;
        }

        .btn {
            display: inline-block;
            background-color: #FF6347;
            color: white;
            padding: 12px 25px;
            font-size: 1.1em;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #e55347;
        }

        footer {
            position: absolute;
            bottom: 20px;
            font-size: 0.9em;
            color: #777;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="icon">
            &#10060;
        </div>

        <h1>Korisnik nije nadjen!</h1>
        <p class="message">Nažalost, u našoj bayi podataka nismo uspeli da nadjemo Vaš profil.</p>
        <p class="message">Molimo vas da napravite Vaš profil.</p>

        <a href="/" class="btn">Klikom ovde</a>
    </div>

    <footer>
        &copy; 2024 Nutri Trans. Sva prava zadržana.
    </footer>

</body>

</html>