<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>techNotes API</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div style="font-family: Arial, sans-serif; text-align: center; padding: 20px;">
        <h1 style="color: #333;">Uspešno kreiranje ishrane!</h1>
        <p style="color: #555;">Vaša ishrana je kreirana u vidu PDF-a, kliknite dole da bi ste ga pregledali</p>
        <a href="${link}"
            style="background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Idi
            na aplikaciju</a>
        <p style="color: #555; margin-top: 20px;">Ako niste poslali zahtev za resetovanje šifre onda ignorišite ovaj
            mail.</p>
    </div>
</body>

</html>